# SE-2200E Notebook 3: Data Transformation

Ningsong Shen

February 12, 2021

## Summary

We want to transform the data to make it easier to use, we want to select a subset of data to use, remove outliers, remove irrelevant features so that we can apply simple techniques. Professor Katchabaw suggested this method which would make testing and isolating any issues easier.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../clean_data/prepared_data.csv')

C:\Users\nings\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.head(50)

,trip_id,start_date,route_id,stop_sequence,realtime_departure_time,vehicle_id,scheduled_departure_time
0,1346803,20201104,24,41,1604508849,3140.0,11:53:34
1,1346803,20201105,24,41,1604595120,3177.0,11:53:34
2,1346803,20201106,24,41,1604681520,3143.0,11:53:34
3,1346803,20201109,24,41,1604940720,3144.0,11:53:34
4,1346803,20201110,24,41,1605027120,3178.0,11:53:34
5,1346803,20201111,24,41,1605113520,3503.0,11:53:34
6,1346803,20201112,24,41,1605199920,3510.0,11:53:34
7,1346803,20201113,24,41,1605286320,3338.0,11:53:34
8,1346803,20201116,24,41,1605545520,3164.0,11:53:34
9,1346803,20201117,24,41,1605631920,3520.0,11:53:34
10,1346803,20201118,24,41,1605718320,3340.0,11:53:34
11,1346803,20201119,24,41,1605804720,3512.0,11:53:34
12,1346803,20201120,24,41,1605891120,3108.0,11:53:34
13,1346803,20201123,24,41,1606150320,3514.0,11:53:34
14,1346803,20201124,24,41,1606236720,3325.0,11:53:34
15,1346803,20201125,24,41,1606323120,3352.0,11:53:34
16,1346803,20201126,24,41,1606409520,3552.0,11:53:34
17,1346803,20201127,24,41,1606496024,3148.0,11:53:34
18,1346803,20201105,24,41,1604595120,3177.0,11:53:34
19,1346803,20201106,24,41,1604681520,3143.0,11:53:34
20,1346803,20201109,24,41,1604940720,3144.0,11:53:34
21,1346803,20201110,24,41,1605027120,3178.0,11:53:34
22,1346803,20201111,24,41,1605113520,3503.0,11:53:34
23,1346803,20201104,24,42,1604508850,3140.0,11:54:13
24,1346803,20201105,24,42,1604595130,3177.0,11:54:13
25,1346803,20201106,24,42,1604681695,3143.0,11:54:13
26,1346803,20201109,24,42,1604940865,3144.0,11:54:13
27,1346803,20201110,24,42,1605027265,3178.0,11:54:13
28,1346803,20201111,24,42,1605113710,3503.0,11:54:13
29,1346803,20201112,24,42,1605200050,3510.0,11:54:13
30,1346803,20201113,24,42,1605286645,3338.0,11:54:13
31,1346803,20201116,24,42,1605545635,3164.0,11:54:13
32,1346803,20201117,24,42,1605631945,3520.0,11:54:13
33,1346803,20201118,24,42,1605718555,3340.0,11:54:13
34,1346803,20201119,24,42,1605804865,3512.0,11:54:13
35,1346803,20201120,24,42,1605891175,3108.0,11:54:13
36,1346803,20201123,24,42,1606150435,3514.0,11:54:13
37,1346803,20201124,24,42,1606236970,3325.0,11:54:13
38,1346803,20201125,24,42,1606323295,3352.0,11:54:13
39,1346803,20201126,24,42,1606409605,3552.0,11:54:13
40,1346803,20201127,24,42,1606496050,3148.0,11:54:13
41,1346803,20201105,24,42,1604595130,3177.0,11:54:13
42,1346803,20201106,24,42,1604681695,3143.0,11:54:13
43,1346803,20201109,24,42,1604940865,3144.0,11:54:13
44,1346803,20201110,24,42,1605027265,3178.0,11:54:13
45,1346803,20201111,24,42,1605113710,3503.0,11:54:13
46,1346803,20201104,24,43,1604508889,3140.0,11:55:07
47,1346803,20201105,24,43,1604595169,3177.0,11:55:07
48,1346803,20201106,24,43,1604681734,3143.0,11:55:07
49,1346803,20201109,24,43,1604940904,3144.0,11:55:07

Let's choose some features: a single route id and stop sequence will identify a single stop.

In [5]:
stop_route = df.loc[(df['trip_id'] == 1346803) & (df['stop_sequence'] == 41)]

In [7]:
stop_route.head(50)

,trip_id,start_date,route_id,stop_sequence,realtime_departure_time,vehicle_id,scheduled_departure_time
0,1346803,20201104,24,41,1604508849,3140.0,11:53:34
1,1346803,20201105,24,41,1604595120,3177.0,11:53:34
2,1346803,20201106,24,41,1604681520,3143.0,11:53:34
3,1346803,20201109,24,41,1604940720,3144.0,11:53:34
4,1346803,20201110,24,41,1605027120,3178.0,11:53:34
5,1346803,20201111,24,41,1605113520,3503.0,11:53:34
6,1346803,20201112,24,41,1605199920,3510.0,11:53:34
7,1346803,20201113,24,41,1605286320,3338.0,11:53:34
8,1346803,20201116,24,41,1605545520,3164.0,11:53:34
9,1346803,20201117,24,41,1605631920,3520.0,11:53:34
10,1346803,20201118,24,41,1605718320,3340.0,11:53:34
11,1346803,20201119,24,41,1605804720,3512.0,11:53:34
12,1346803,20201120,24,41,1605891120,3108.0,11:53:34
13,1346803,20201123,24,41,1606150320,3514.0,11:53:34
14,1346803,20201124,24,41,1606236720,3325.0,11:53:34
15,1346803,20201125,24,41,1606323120,3352.0,11:53:34
16,1346803,20201126,24,41,1606409520,3552.0,11:53:34
17,1346803,20201127,24,41,1606496024,3148.0,11:53:34
18,1346803,20201105,24,41,1604595120,3177.0,11:53:34
19,1346803,20201106,24,41,1604681520,3143.0,11:53:34
20,1346803,20201109,24,41,1604940720,3144.0,11:53:34
21,1346803,20201110,24,41,1605027120,3178.0,11:53:34
22,1346803,20201111,24,41,1605113520,3503.0,11:53:34